@import "./styles/aside.scss";
@import "./styles/header.scss";
@import "./styles/footer.scss";
@import "./styles/nav.scss";
@import "./styles/main.scss";
@import "./styles/employeeBlock.scss";

a {
  text-decoration: none;
}


li {
  list-style-type: none;
 }
 ul {
  margin-left: 0; 
  padding-left: 0; 
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-color: rgb(223, 174, 125);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 95vw;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.main-container{
  display: flex;
}

.authorization{
  display: block;
  padding: 20px;
  height: 270px;
  width: 300px;
  position: absolute;
  top: 25%;
  left: 43%;
  background-color: rgb(218, 202, 185);
    .close{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 10px;
  }
}