footer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-top: 1px solid rgb(181, 97, 97);
    h3{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
